body {
    background-color:#EBC7E6 ;
}
hr {
    border-color: grey;
    width: 100px;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;

}
h1{
    color:#66BFBF;
}
h3{
    color:#66BFBF;
}